* {
  font-family: Arial;
  margin: auto;
  text-align: center;
}

#root {
  min-height: 500px;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-areas:
    "header header"
    "general education"
    "general practical";
}

.component {
  background-color: rgb(238, 238, 238);
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(128, 128, 128, 0.575);
}

#general {
  grid-area: general;
}

#education {
  grid-area: education;
}

#practical {
  grid-area: practical;
}

header {
  grid-area: header;
}
